*.log
*.pyc
*.lnk
*.pid
*.xlsx
*.xls
*.csv
*.old
*.OLD
teste.txt
teste.py
arquivos_a_executar/*
arquivos_executados/*
arquivos_ignorados/*
arquivos_importados/*
backup/*
logs/*
pIDs/*
*.stackdump
*.ignorar
.gitattributes

