*.log
*.pyc
*.lnk
*.pid
*.xlsx
*.xls
*.csv
*.old
*.OLD
teste.txt
teste.py
arquivos_executados/*
arquivos_importados/*
arquivos_ignorados/*
backup/*
logs/*
pIDs/*
*.stackdump
*.ignorar
.gitattributes

