{% extends "base.html" %}

{% set title = "ABERTURA DE PASTAS" %}
{% set subtitle = title %}

{% block scripts %}
    <script>
        window.onload = function() {
            ocultar(document.getElementById('preencher'));
        };

        function mostrar(element){
            element.style.display = "block";
        };

        function ocultar(element){
            element.style.display = "none";
        };

        function definirPadrao(){ //percorre todo o objeto preenchendo os campos padrões
            obj = {{ data|tojson }};
            for (var i = 0; i < Object.keys(obj).length; i++){
                obj[i]['razaoSocial'] = 'cliente';
                obj[i]['sigla']       = 'sigla';
                obj[i]['gpCliente']   = 'gpCliente';
                obj[i]['statusProcessual'] = 'statusProcessual';
                obj[i]['gpProcesso']  = 'gpProcesso';
                obj[i]['localizador'] = 'localizador';
                obj[i]['responsavel'] = 'responsavel'; //juntar o valor dos 3 selects
                obj[i]['dataCiencia'] = 'dataCiencia';
            }
            mostrar(document.getElementById('preencher'));
            ocultar(document.getElementById('padroes'));
        };

    </script>
{% endblock%}

{% block content %}
<div class="content text-center">
    <h3>DEFININDO PADRÕES</h3>
</div>

<div class="content ml-5 mr-5 mt-5" id='corpo'>
    {% if (data) %}
        <div id="padroes" class="form-group row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8 mb-3">
                        <label for="listclientes">CLIENTE</label>
                        <select name="listclientes" id="listclientes" class="form-control">
                            <option value="-1">SELECIONE O CLIENTE</option>
                            {% for cliente in clientes %}
                                <option value="{{cliente.split(';')[0]}}">{{cliente.split(';')[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="sigla">SIGLA</label>
                                <input name="sigla" id="sigla" type="text" value="BRA" class="form-control" disabled>
                            </div>
                            <div class="col-md-8">
                                <label for="grupocli">GRUPO</label>
                                <input name="grupocli" id="grupocli" type="text" value="BRA" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4  mb-3">
                        <label for="statusprocesso">STATUS DO PROCESSO</label>
                        <select name="statusprocesso" id="statusprocesso" class="form-control">
                            <option value="">SELECIONE O STATUS DO PROCESSO</option>
                            {% for statusproc in status %}
                                <option value="{{statusproc}}">{{statusproc}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4  mb-3">
                        <label for="grupoprocesso">GRUPO DO PROCESSO</label>
                        <select name="grupoprocesso" id="grupoprocesso" class="form-control">
                            <option value="">SELECIONE O GRUPO DO PROCESSO</option>
                            {% for grupoprocesso in gruposprocessos %}
                                <option value="{{grupoprocesso}}">{{grupoprocesso}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4  mb-3">
                        <label for="localizador">LOCALIZADOR</label>
                        <select name="localizador" id="localizador" class="form-control">
                            <option value="">SELECIONE O LOCALIZADOR</option>
                            {% for localizador in localizadores %}
                                <option value="{{localizador}}">{{localizador}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4  mb-3">
                        <label for="resp1">RESPONSÁVEL</label>
                        <select name="resp1" id="resp1" class="form-control">
                            <option value="">SELECIONE O RESPONSÁVEL</option>
                            {% for responsavel in resp1 %}
                                <option value="{{responsavel}}">{{responsavel}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4  mb-3">
                        <label for="resp2">RESPONSÁVEL</label>
                        <select name="resp2" id="resp2" class="form-control">
                            <option value="">SELECIONE O RESPONSÁVEL</option>
                            {% for responsavel in resp2 %}
                                <option value="{{responsavel}}">{{responsavel}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4  mb-3">
                        <label for="resp3">RESPONSÁVEL</label>
                        <select name="resp3" id="resp3" class="form-control">
                            <option value="">SELECIONE O RESPONSÁVEL</option>
                            {% for responsavel in resp3 %}
                                <option value="{{responsavel}}">{{responsavel}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4  mb-3">
                        <label for="dataciencia">DATA DE CIÊNCIA</label>
                        <input name="dataciencia" id="dataciencia" type="text" value="" class="form-control">
                    </div>
                    <div class="col-md-4  mb-3">
                        <button type="submit" class="btn btn-success form-control mt-2" style="width: 100%; height: 90%;" onclick="definirPadrao()">Definir padrões</button>
                    </div>
                    <div class="col-md-4  mb-3">
                        <button type="submit" class="btn btn-warning form-control mt-2" style="width: 100%; height: 90%;">Pular</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="preencher">
            <form action="" method="post">
                <div class="row mb-2">
                    <div class="col-md-2">
                        <label for="pasta">PASTA</label>
                        <input name="pasta" id="pasta" type="text" class="form-control" value="" disabled>
                    </div>
                    <div class="col-md-4">
                        <label for="adversa">NOME</label>
                        <input name="adversa" id="adversa" type="text" class="form-control" value="" disabled>
                    </div>
                    <div class="col-md-3">
                        <label for="numProcesso">N.º PROCESSO</label>
                        <input name="numProcesso" id="numProcesso" type="text" class="form-control" value="" disabled>
                    </div>
                    <div class="col-md-3">
                        <label for="cnj">N.º CNJ</label>
                        <input name="cnj" id="cnj" type="text" class="form-control" value="" disabled>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-2">
                        <label for="grupoprocesso1">GRUPO DE PROCESSO</label>
                        <input name="grupoprocesso1" id="grupoprocesso1" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-2">
                        <label for="status">STATUS</label>
                        <input name="status" id="status" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-2">
                        <label for="vcausa">VALOR DA CAUSA</label>
                        <input name="vcausa" id="vcausa" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-2">
                        <label for="numvara">N.º VARA</label>
                        <input name="numvara" id="numvara" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="tramite">LOCAL DE TRÂMITE</label>
                        <input name="tramite" id="tramite" type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label for="comarca">COMARCA</label>
                        <input name="comarca" id="comarca" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-1">
                        <label for="uf">UF</label>
                        <input name="uf" id="uf" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="cliente1">CLIENTE</label>
                        <input name="cliente1" id="cliente1" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-3">
                        <label for="localizador1">LOCALIZADOR</label>
                        <input name="localizador1" id="localizador1" type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label for="resp1">RESPONSÁVEL</label>
                        <input name="resp1" id="resp1" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="resp2">RESPONSÁVEL</label>
                        <input name="resp2" id="resp2" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="resp3">RESPONSÁVEL</label>
                        <input name="resp3" id="resp3" type="text" class="form-control" value="">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label for="dataaudiencia">DATA AUDIENCIA</label>
                        <input name="dataaudiencia" id="dataaudiencia" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="horaaudiencia">HORA AUDIENCIA</label>
                        <input name="horaaudiencia" id="horaaudiencia" type="text" class="form-control" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="fotocopia">FOTOCÓPIA</label>
                        <input name="fotocopia" id="fotocopia" type="checkbox" class="form-control" value="">
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}


