{% extends "base.html" %}

{% set title = "ABERTURA DE PASTAS" %}
{% set subtitle = title %}

{% block scripts %}

    <script>
        function desabilitaBotao(elemento) {
            elemento.disabled  = true;
            paste();
        };

        function recarregarPagina() {
            window.location.reload()
        };

        function paste() {
            var textAreaPaste = document.querySelector("#txtAbertura");
            textAreaPaste.focus();

            navigator.clipboard.readText()
                .then(text => {
                    text = text.replace(/^\s*\n/gm, "") //remove linhas em branco
                    textAreaPaste.innerHTML = text
                })
                .catch(err => {
                    console.log('Something went wrong', err);
                });
        };

        function converter(){
            var lines = $('textarea').val().split('\n');
            var ObjectList = new Array();
            for (var i = 0; i < lines.length; i++){
                if (lines[i]){
                    ObjectList.push(criaObjeto(lines[i]));
                    console.log(i);
                }//else{console.log(i, ' - linha vazia: ', lines[i]);}
            }
            console.log(ObjectList);

        };

        function criaObjeto(linha){
            var objLine = {};
            var adversa = String;
            var isNumber = String;
            var dataHoje = new Date();
            var dataHoje = ("0" + dataHoje.getDate()).substr(-2) + "/"
                + ("0" + (dataHoje.getMonth() + 1)).substr(-2) + "/" + dataHoje.getFullYear();

            //IMPORTADOS DO E-MAIL
            objLine['pasta'] = linha.split('/')[0].split('      ')[0];
            adversa  = linha.split('/')[0].split('      ')[1];
            isNumber = parseInt(adversa.slice(-2, -1));

            if (isNumber){
                adversa = adversa.split(isNumber)[0].trim()
            };

            objLine['adversa']         = adversa;
            objLine['dataContratacao'] = dataHoje;
            objLine['numProcesso']     = linha.split('/')[2].split('      ')[1].split('    ')[0];
            objLine['cnj']             = linha.split('/')[2].split('      ')[1].split('    ')[0];
            objLine['comarca']         = linha.split('/').slice(-2)[0].trim();
            objLine['uf']              = linha.split('/').slice(-1)[0].trim();

            return (objLine);
        };

    </script>

{% endblock%}

{% block content %}
<div class="content text-center">
    <h3>BRADESCO</h3>
</div>

<div class="row">
    <div class="col-md-10">
        <textarea class="mt-5 ml-5" name="txtAbertura" id="txtAbertura" cols="150" rows="15" placeholder="Cole aqui!"></textarea>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary mt-5 btn-block" onclick="desabilitaBotao(this)">COLAR</button>
        <button class="btn btn-success mt-2 btn-block" onclick="converter()">CONVERTER</button>
        <button class="btn btn-warning mt-2 btn-block" onclick="recarregarPagina()">ATUALIZAR</button>
    </div>
</div>

{% endblock %}