{% extends "base.html" %}

{% set title = "ABERTURA DE PASTAS" %}
{% set subtitle = title %}

{% block styles %}
    <style>
    </style>
{% endblock %}

{% block scripts %}
    <script>
        var objNovo = {};
        var i = 0;
        var first = true;
        window.onload = function() {
            objNovo = {{ data|tojson }};
            console.log(objNovo);
            mudaRegistro(2);
        };

        function preencherRegistros(){
            document.getElementById('regnum').value = i + 1;
            if (objNovo['registros'][i]['txtPasta']){
                document.getElementById('txtPasta').value = objNovo['registros'][i]['txtPasta'];
            }
            if (objNovo['registros'][i]['adversa']){
                document.getElementById('adversa').value = objNovo['registros'][i]['adversa'];
            }
            if (objNovo['registros'][i]['txtNroProcesso']){
                document.getElementById('txtNroProcesso').value = objNovo['registros'][i]['txtNroProcesso'];
            }
            if (objNovo['registros'][i]['txtNroCnj']){
                document.getElementById('txtNroCnj').value = objNovo['registros'][i]['txtNroCnj'];
            }
            if (objNovo['registros'][i]['slcGrupo']){
                document.getElementById('slcGrupo').value = objNovo['registros'][i]['slcGrupo'];
            }
            if (objNovo['registros'][i]['slcStatusProcessual']){
                document.getElementById('slcStatusProcessual').value = objNovo['registros'][i]['slcStatusProcessual'];
            }
            if (objNovo['registros'][i]['txtValorCausa']){
                document.getElementById('txtValorCausa').value = objNovo['registros'][i]['txtValorCausa'];
            } else {
                document.getElementById('txtValorCausa').value = "";
            }
            if (objNovo['registros'][i]['slcNumeroVara']){ //localTr
                document.getElementById('slcNumeroVara').value = objNovo['registros'][i]['slcNumeroVara'];
            } else {
                document.getElementById('slcNumeroVara').value = '';
            }
            if (objNovo['registros'][i]['tramite']){
                document.getElementById('tramite').value = objNovo['registros'][i]['tramite'];
            } else {
                document.getElementById('tramite').value = "";
            }
            if (objNovo['registros'][i]['slcComarca']){
                document.getElementById('slcComarca').value = objNovo['registros'][i]['slcComarca'];
            }
            if (objNovo['registros'][i]['txtUf']){
                document.getElementById('txtUf').value = objNovo['registros'][i]['txtUf'];
            }
            if (objNovo['registros'][i]['razaoSocial']){
                document.getElementById('razaoSocial').value = objNovo['registros'][i]['razaoSocial'];
            }
            if (objNovo['registros'][i]['slcLocalizador']){
                document.getElementById('slcLocalizador').value = objNovo['registros'][i]['slcLocalizador'];
            }
            if (objNovo['registros'][i]['responsavel']){
                var respId = '';
                var respArr = objNovo['registros'][i]['responsavel'];
                for (var j = 0; j < respArr.length; j++){
                    respId = 'responsavel'+(j+1);
                    document.getElementById(respId).value = respArr[j];
                }
            }
            if (objNovo['registros'][i]['agendamentos']['Audiência']){
                var data = objNovo['registros'][i]['agendamentos']['Audiência'].replace('/', '-').replace('/', '-').split('-').reverse().join('-');
                document.getElementById('Audiência').value = data;
            } else{
                document.getElementById('Audiência').value = '';
            }
            if (objNovo['registros'][i]['agendamentos']['HoraAudiencia']){
                document.getElementById('HoraAudiencia').value = objNovo['registros'][i]['agendamentos']['HoraAudiencia'];
            } else{
                document.getElementById('HoraAudiencia').value = '';
            }
            if (objNovo['registros'][i]['agendamentos']['Ciencia de novo processo']){
                document.getElementById('dataCiencia').value = objNovo['registros'][i]['agendamentos']['Ciencia de novo processo'];
            } else {
                document.getElementById('dataCiencia').value = '';
            }
            if (objNovo['registros'][i]['agendamentos']['Anexar']){
                document.getElementById('Anexar').checked = true;
            } else {
                document.getElementById('Anexar').checked = false;
            }
            if (objNovo['registros'][i]['agendamentos']['Fotocópia']){
                document.getElementById('Fotocópia').checked = true;
            } else {
                document.getElementById('Fotocópia').checked = false;
            }
        };

        function mudaRegistro(tipo){//1 - anterior  //2 - próximo
            qtdRegistros = Object.keys(objNovo['registros']).length;
            if (tipo == 1){ //fazer um ternário
                if (first == true) {
                    first = false;
                }else {
                    i--;
                    if (i < 0){
                        i = qtdRegistros-1;
                    };
                }
            }else { //próximo registros
                if (first == true) {
                    first = false;
                }else{
                    i++;
                    if (i == qtdRegistros){
                        i = 0;
                    };
                }
            };
            preencherRegistros();
        };

        function alteraValor(elemento){
            var checkResp = Boolean
            console.log(typeof(elemento))
            if (typeof (elemento) === 'undefined'){
                if (elemento.id == 'txtValorCausa'){
                    elemento.value = parseFloat(elemento.value).toFixed(2);
                    objNovo['registros'][i][elemento.id] = elemento.value.trim();
                } else {
                    objNovo['registros'][i][elemento.id] = elemento.value.trim();
                }
            } else {
                validElement = true;
                if (elemento.id == 'responsavel1' || elemento.id == 'responsavel2' || elemento.id == 'responsavel3') {
                    if (elemento.value != '') {
                        checkResp = true;
                        objNovo['registros'][i][elemento.id.slice(0, -1)][elemento.id.slice(-1)-1] = elemento.value.trim();
                    } else {
                        checkResp = false;
                        objNovo['registros'][i][elemento.id.slice(0, -1)][elemento.id.slice(-1)-1] = '';// limpa
                    }
                } else if (elemento.id == 'txtValorCausa'){
                    if (elemento.value != ''){
                        elemento.value = parseFloat(elemento.value).toFixed(2);
                        objNovo['registros'][i][elemento.id] = elemento.value.trim();
                    } else {
                        delete objNovo['registros'][i][elemento.id];
                    }
                } else if (elemento.id == 'Anexar'){
                    if (elemento.checked){
                        objNovo['registros'][i][elemento.id] = true;
                    } else {
                        delete objNovo['registros'][i][elemento.id];
                    }
                } else if (elemento.id == 'Fotocópia'){
                    if (elemento.checked){
                        objNovo['registros'][i][elemento.id] = true;
                    } else {
                        delete objNovo['registros'][i][elemento.id];
                    }
                } else {
                    if (elemento.value != ''){
                        objNovo['registros'][i][elemento.id] = elemento.value.trim();
                    } else {
                        checkResp = false;
                        delete objNovo['registros'][i][elemento.id];
                    }
                }
            };
        };

        function enviarDados(){
            console.log(objNovo);
            objNovo = JSON.stringify(objNovo);
            document.getElementById('txtAbertura').innerHTML = objNovo;
        };

    </script>
{% endblock%}

{% block content %}
<div class="content text-center">
    <h3>INCREMENTAR REGISTROS</h3>
</div>

<div class="content ml-5 mr-5 mt-5" id='corpo'>
    <button type="button" class="btn btn-warning form-control mt-2" style="width: 100%; height: 90%;" onclick="enviarDados();">EXECUTAR ABERTURAS</button>
    {% if (data) %}
        <div id="preencher">
            <div class="row">
                <div class="col-md-4  mb-3">
                    <button type="button" class="btn btn-success form-control mt-2" style="width: 100%; height: 90%;" onclick="mudaRegistro(1);"> <<< Registro Anterior</button>
                </div>
                <div class="col-md-4  mb-3">
                    <button type="button" class="btn btn-success form-control mt-2" style="width: 100%; height: 90%;" onclick="mudaRegistro(2);">Próximo Registro >>></button>
                </div>
                <div class="col-md-4  mb-3">
                    <form action="{{url_for('abertura_executa')}}" method="post" >
                        <button type="submit" class="btn btn-warning form-control mt-2" style="width: 100%; height: 90%;" onclick="enviarDados();">EXECUTAR ABERTURAS</button>
                        <textarea name="txtAbertura" id="txtAbertura" cols="30" rows="10" hidden></textarea>
                    </form>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-1">
                    <label for="regnum">REGISTRO</label>
                    <input name="regnum" id="regnum" type="text" class="form-control" style="font-weight: bold; text-align: right; font-size: 16px;" disabled>
                </div>
                <div class="col-md-2">
                    <label for="txtPasta">PASTA</label>
                    <input name="txtPasta" id="txtPasta" type="text" class="form-control" disabled>
                </div>
                <div class="col-md-3">
                    <label for="adversa">NOME</label>
                    <input name="adversa" id="adversa" type="text" class="form-control" disabled>
                </div>
                <div class="col-md-3">
                    <label for="txtNroProcesso">N.º PROCESSO</label>
                    <input name="txtNroProcesso" id="txtNroProcesso" type="text" class="form-control" disabled>
                </div>
                <div class="col-md-3">
                    <label for="txtNroCnj">N.º CNJ</label>
                    <input name="txtNroCnj" id="txtNroCnj" type="text" class="form-control" disabled>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="razaoSocial">CLIENTE</label>
                    <select name="razaoSocial" id="razaoSocial" class="form-control" onchange="alteraValor(this);" disabled>
                        <option value="-1">SELECIONE</option>
                        {% for cliente in clientes %}
                            <option value="{{cliente.split(';')[0]}}">{{cliente.split(';')[0]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-9">
                            <label for="slcComarca">slcComarca</label>
                            <input name="slcComarca" id="slcComarca" type="text" class="form-control" onchange="alteraValor(this);" disabled>
                        </div>
                        <div class="col-md-3">
                            <label for="txtUf">txtUf</label>
                            <input name="txtUf" id="txtUf" type="text" class="form-control" onchange="alteraValor(this);" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="slcGrupo">GRUPO DE PROCESSO</label>
                    <select name="slcGrupo" id="slcGrupo" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for gpProcess in gruposprocessos %}
                            <option value="{{gpProcess.strip()}}">{{gpProcess.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="slcStatusProcessual">STATUS</label>
                    <select name="slcStatusProcessual" id="slcStatusProcessual" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for state in status %}
                            <option value="{{state.strip()}}">{{state.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="slcLocalizador">slcLocalizador</label>
                    <select name="slcLocalizador" id="slcLocalizador" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for slcLocalizador in localizadores %}
                            <option value="{{slcLocalizador.strip()}}">{{slcLocalizador.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="slcNumeroVara">VARA</label>
                    <select name="slcNumeroVara" id="slcNumeroVara" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for vara in varas %}
                            <option value="{{vara.strip()}}">{{vara.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="tramite">LOCAL DE TRÂMITE</label>
                    <select name="tramite" id="tramite" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for localtramite in locaistramites %}
                            <option value="{{localtramite.strip()}}">{{localtramite.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="txtValorCausa">VALOR DA CAUSA</label>
                    <input name="txtValorCausa" id="txtValorCausa" type="number" placeholder="0.00" class="form-control" onchange="alteraValor(this);">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-4">
                    <label for="responsavel1">RESPONSÁVEL</label>
                    <select name="responsavel1" id="responsavel1" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for responsavel1 in resp1 %}
                            <option value="{{responsavel1.strip()}}">{{responsavel1.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="responsavel2">RESPONSÁVEL</label>
                    <select name="responsavel2" id="responsavel2" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for responsavel2 in resp2 %}
                            <option value="{{responsavel2.strip()}}">{{responsavel2.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="responsavel3">RESPONSÁVEL</label>
                    <select name="responsavel3" id="responsavel3" class="form-control" onchange="alteraValor(this);">
                        <option value="">SELECIONE</option>
                        {% for responsavel3 in resp3 %}
                            <option value="{{responsavel3.strip()}}">{{responsavel3.strip()}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-2">
                    <label for="Audiência">DATA DA AUDIENCIA</label>
                    <input name="Audiência" id="Audiência" type="date" class="form-control" onchange="alteraValor(this);">
                </div>
                <div class="col-md-2">
                    <label for="HoraAudiencia">HORA DA AUDIENCIA</label>
                    <input name="HoraAudiencia" id="HoraAudiencia" type="time" class="form-control" onchange="alteraValor(this);">
                </div>
                <div class="col-md-2">
                    <label for="dataCiencia">DATA DA CIÊNCIA</label>
                    <input name="dataCiencia" id="dataCiencia" type="date" class="form-control" onchange="alteraValor(this);">
                </div>
                <div class="col-md-1">
                    <label for="Anexar">Anexar</label>
                    <input name="Anexar" id="Anexar" type="checkbox" class="form-control" onchange="alteraValor(this);">
                </div>
                <div class="col-md-1">
                    <label for="Fotocópia">FOTOCÓPIA</label>
                    <input name="Fotocópia" id="Fotocópia" type="checkbox" class="form-control" onchange="alteraValor(this);">
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}


