{% extends "base.html" %}

{% set title = "OPÇÕES" %}
{% set subtitle = title %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h3>O que deseja realizar?</h3>
        <div class="list-group">
            <a href="/abertura" class="list-group-item list-group-item-action list-group-item-primary">Abertura de Pastas</a>
            <a href="/atualizacao" class="list-group-item list-group-item-action list-group-item-primary">Atualização de Pastas</a>
            <a href="/contrato" class="list-group-item list-group-item-action list-group-item-primary">Contratos PA</a>
            <a href="/volumetria" class="list-group-item list-group-item-action list-group-item-primary">Volumetria</a>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>
{% endblock %}