{% extends "base.html" %}

{% set title = "VOLUMETRIA" %}
{% set subtitle = title %}

{% block scripts %}

    <script>
        window.onload = function() {
            let today = new Date().toISOString().slice(0, 7).replace('-','.')
            // document.getElementById('txtCampoLivre3').value = "Volumetria " + today;
        };

        function limparTextArea() {
            document.getElementById('txtAbertura').innerHTML = '';
            document.getElementById('btnPaste').disabled = false;
        };

        function paste() {
            var textAreaPaste = document.querySelector("#txtAbertura");
            textAreaPaste.focus();

            navigator.clipboard.readText()
                .then(text => {
                    text = text.replace(/^\s*\n/gm, "") //remove linhas em branco
                    textAreaPaste.innerHTML = text
                })
                .catch(err => {
                    console.log('Something went wrong', err);
                });
        };

        function converter(){
            var lines = $('textarea').val().split('\n');
            var ObjectList = {};
            var volumetria = '';

            ObjectList['tipo'] = 'atualizacao';
            ObjectList['clientePadrao'] = document.getElementById('clientePadrao').value.trim();
            ObjectList['grupoPadrao']   = document.getElementById('grupoPadrao').value.trim();;
            ObjectList['siglaPadrao']   = document.getElementById('siglaPadrao').value.trim();;
            ultimoRegistro = 0;
            registroAtual = 0;
            registros = {};
            for (var i = 0; i <= lines.length; i++){
                if (lines[i]){
                    if (ultimoRegistro == (lines[i].split(';')[0]))
                        {} //pass
                    else {
                        recebeRegistroObj = (criaObjeto(lines[i]));
                        registros[registroAtual] = recebeRegistroObj;
                        ultimoRegistro = registros[registroAtual]['txtCampoLivre3'];
                        registroAtual++;
                    }
                }//else{console.log(i, ' - linha vazia: ', lines[i]);}
            }
            ObjectList['registros'] = registros;
            console.log(ObjectList);
            ObjectList = JSON.stringify(ObjectList);
            return (ObjectList)
        };

        function enviarDados(){
            ObjectList = converter();
            document.getElementById('txtAbertura').innerHTML = '';
            document.getElementById('txtAbertura').innerHTML = ObjectList;
        };

        function criaObjeto(linha){
            var objLine = {};
            objLine['txtPasta']       = linha.split(';')[7];
            objLine['txtCampoLivre3'] = document.getElementById('txtCampoLivre3').value.trim();
            return (objLine);
        };

        // $(function() {
        //     $('form').submit(function() {
        //         console.log('Input 1: '+$('input[name="input1"]').val() + ' Input 2: '+ $('input[name="input2"]').val()); // etc.
        //     });
        // });

    </script>

{% endblock%}

{% block content %}
    <form action="{{url_for('getFile')}}" method="post" enctype="multipart/form-data">
        <div class="row ml-3 md-3">
            <div class="col-md-12 form-group">
                <div class="row">
                    <div class="col-md-3">
                        <label class="ml-2" for="clientePadrao">Cliente</label>
                        <input type="text" class="form-control" value="BANCO BRADESCO S.A." disabled>
                        <input type="hidden" name="clientePadrao" value="BANCO BRADESCO S.A." class="form-control">

                        <!-- <input type="text" name="clientePadrao" id="clientePadrao" value="BANCO BRADESCO S.A." class=" ml-2  form-control content text-center" disabled> -->
                    </div>
                    <div class="col-md-3">
                        <label class="ml-2" for="grupoPadrao">Grupo</label>
                        <input type="text" value="Grupo Bradesco" class=" ml-2  form-control content text-center" disabled>
                        <input type="hidden" name="grupoPadrao" value="Grupo Bradesco">
                    </div>
                    <div class="col-md-3">
                        <label class="ml-2" for="siglaPadrao">Sigla</label>
                        <input type="text" value="BRA" class=" ml-3  form-control content text-center" disabled>
                        <input type="hidden" name="siglaPadrao" value="BRA">
                    </div>
                    <div class="col-md-3">
                        <label class="ml-2" for="txtCampoLivre3"><strong>CampoLivre 3</strong>texto:</label>
                        <input type="text" value="Volumetria 2020.06" class=" ml-2  form-control content text-center">
                        <input type="hidden" name="txtCampoLivre4" id="txtCampoLivre4" value="Contrato PA 2020.06" class=" ml-2  form-control content text-center">
                    </div>
                    <input type="hidden" name="tipo" value="abertura">
                    <input type="hidden" name="funcao" value="bv">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-5 ml-4">
                    <input type="file" name="arquivo" id="arquivo" class="form-control">
                </div>
                <div class="col-md-12 mt-1 ml-4">
                    <button type="submit" class="btn btn-success mt-2 btn-block" id="btnSend">ENVIAR</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}