{% extends "base.html" %}

{% set title = "ABERTURA DE PASTAS" %}
{% set subtitle = title %}

{% block content %}
    <div class="row  ml-1 md-1">
        <div class="col-md-4">
            <label class="" for="clientePadrao1">Cliente</label>
            <input type="text" name="clientePadrao1" id="clientePadrao1" value="OI S.A" class="   form-control content text-center" disabled>
        </div>
        <div class="col-md-4">
            <label class="" for="grupoPadrao1">Grupo</label>
            <input type="text" name="grupoPadrao1" id="grupoPadrao1" value="OI TELECOMUNICAÇÕES" class="   form-control content text-center" disabled>
        </div>
        <div class="col-md-4">
            <label class="" for="siglaPadrao1">Sigla</label>
            <input type="text" name="siglaPadrao1" id="siglaPadrao1" value="OI" class="   form-control content text-center" disabled>
        </div>
    </div>

    <form action="{{request.path}}/padronizacao" method="post" enctype="multipart/form-data">
        <input type="hidden" name="tipo" value="abertura">
        <input type="hidden" name="clientePadrao" id="clientePadrao" value="OI S.A">
        <input type="hidden" name="grupoPadrao" id="grupoPadrao" value="OI TELECOMUNICAÇÕES">
        <input type="hidden" name="siglaPadrao" id="siglaPadrao" value="OI">

        <div class="row mt-4 ml-1">
            <div class="col-md-3 ">
                <label for="funcao">TIPO DE IMPORTAÇÃO</label>
                <select name="funcao" id="funcao" class="form-control campo" required>
                    <option value="">SELECIONE</option>
                    <option value="oi_civel">Abertura VARA CIVEL</option>
                    <option value="oi_jec">Abertura VARA JEC</option>
                    <option value="oi_migracao">Migração OI</option>
                    <option value="oi_consolidado">Arquivo Consolidado</option>
                </select>
            </div>
            <div class="col-md-6">
                <label class="" for="arquivo">SELECIONE O ARQUIVO</label>
                <input type="file" name="arquivo" id="arquivo" class="form-control campo" required accept=".xls,.xlsx">
            </div>
            <div class="col-md-3 mt-2">
                <label class="" for="btnSend"></label>
                <button type="submit" class="btn btn-success  btn-block form-control" id="btnSend">PADRONIZAR</button>
            </div>
        </div>
    </form>
{% endblock %}