{% extends "base.html" %}

{% set title = "ABERTURA DE PASTAS" %}
{% set subtitle = title %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
        <h3>SELECIONE O CLIENTE</h3>
        <div class="list-group">
            <a href="{{request.url_rule.rule}}/bradesco" class="mt-5 list-group-item list-group-item-action list-group-item-success">BRADESCO</a>
            <a href="{{request.url_rule.rule}}/bv" class="mt-5 list-group-item list-group-item-action list-group-item-success">BV</a>
            <a href="{{request.url_rule.rule}}/oi" class="mt-5 list-group-item list-group-item-action list-group-item-success">OI</a>
            <a href="{{request.url_rule.rule}}/faro" class="mt-5 list-group-item list-group-item-action list-group-item-success">FARO</a>
        </div>
    </div>
    <div class="col-md-6"></div>
</div>]


{% endblock %}