{% extends "base.html" %}

{% set title = "ATUALIZAÇÃO" %}
{% set subtitle = title %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3>O que deseja atualizar?</h3>
            <div class="list-group mt-5">
                <a href="{{request.url_rule.rule}}/contrato" class="list-group-item list-group-item-action list-group-item-warning mt-5"><strong>Contratos PA Bradesco- Campo Livre 4</strong></a>
                <a href="{{request.url_rule.rule}}/volumetria" class="list-group-item list-group-item-action list-group-item-success mt-5"><strong>Volumetria Bradesco - Campo Livre 3</strong></a>
                <!-- <a href="{{request.url_rule.rule}}/geral" class="list-group-item list-group-item-action list-group-item-primary mt-5">Outras Atualizações</a> -->
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}