{% extends "base.html" %}

{% set title = "OPÇÕES" %}
{% set subtitle = title %}

{% block content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h3>O que deseja realizar?</h3>
            <div class="list-group mt-5">
                <a href="/abertura" class="list-group-item list-group-item-action list-group-item-success">ABERTURA DE PASTAS</a>
                <a href="/atualizacao" class="list-group-item list-group-item-action list-group-item-success mt-5">ATUALIZAÇÃO DE PASTAS</a>
                <a href="/logs" class="list-group-item list-group-item-action list-group-item-danger mt-5">ACOMPANHAR OS LOGS</a>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
{% endblock %}