{% extends "base.html" %}

{% set title = "LOGS" %}
{% set subtitle = title %}

{% block scripts %}

    <script>

        let filtro = 'all'

        setInterval(function(){ listLogs(filtro); }, 5000);

        window.onload = function() {
            listLogs(filtro);
        };

        function listLogs(filter){
            filtro = filter;
            $.ajax({
                type: 'POST',
                url: '/listLogs/'+ filtro,
                success: function(response){
                    lista = document.getElementById('lista');
                    lista.innerHTML = '';
                    for (var [key, value] of Object.entries(response)) {
                        // fileName = key;
                        // trElement = document.createElement('tr'); //Cria TR
                        // for (var x = 0; x < Object.keys(value).length; x++){
                        //     if (Object.keys(value)[x] != 'PATH'){
                        //         tableElement = "th";
                        //         novoElemento = document.createElement(tableElement); // Cria th ou td
                        //         textnode = document.createTextNode(Object.keys(value)[x]);
                        //         novoElemento.appendChild(textnode);
                        //         trElement.appendChild(novoElemento); //add novoElemento ao TR
                        //         lista.appendChild(trElement);
                        //     }
                        // };

                        trElement = document.createElement('tr'); //Cria TR
                        item = 0
                        inicio = Object.values(value).length;
                        for (var x = inicio-1; x >= 0; x--){
                            // aElement.href = "{{url_for('getLog', filePath=key1)}}";
                            // console.log(value[item]['name'])
                            // console.log(value['tipo'])
                            // console.log(value['path'])
                            // console.log(item)
                            // console.log(Object.values(value)[x]);

                               if (Object.keys(value)[x] != 'PATH'){
                                aElement = document.createElement('a'); //Cria TR
                                aElement.setAttribute("class", "log");
                                // aElement.setAttribute("id", "log_".replace("log_", "log_"+ x));

                                arquivoCaminho = value['PATH'] + '\\' + value['ARQUIVO']
                                aElement.href = "{{ url_for('getLog', filePath='ADDSHARE1;ADDSHARE2') }}".replace("ADDSHARE2", value['ARQUIVO']).replace("ADDSHARE1", value['TIPO']);
                                tableElement = "td";

                                novoElemento = document.createElement(tableElement); // Cria th ou td
                                textnode = document.createTextNode(Object.values(value)[x].toUpperCase());

                                aElement.appendChild(textnode);
                                novoElemento.appendChild(aElement);
                                trElement.appendChild(novoElemento);
                                lista.appendChild(trElement);
                                item++;
                            }
                        }
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        };

        function getLog(){
            $.ajax({
                url: '/getLog',
                type: 'POST',
                success: function(response){
                    lista = document.getElementById('lista');
                    lista.innerHTML = '';
                    for (var [key, value] of Object.entries(response)) {
                        document.getElementById('tipo').innerHTML = value['tipo'].toUpperCase();
                        document.getElementById('arquivo').innerHTML = key;
                        sizeLog = parseInt(value['log'].length)-1 ;
                        document.getElementById('status').innerHTML = sizeLog;
                        for (var [key1, value1] of Object.entries(value['log'])) {

                            if (parseInt(key1) == 0){
                                tableElement = "th";
                            } else{
                                tableElement = "td";
                            };

                            dados = value1.split(';')
                            trElement = document.createElement('tr'); //Cria TR
                            for (i = 0; i < dados.length; i++) {
                                novoElemento = document.createElement(tableElement); // Cria th ou td
                                textnode = document.createTextNode(dados[i]);
                                novoElemento.appendChild(textnode);
                                trElement.appendChild(novoElemento); //add novoElemento ao TR
                                lista.appendChild(trElement);
                            }
                        }
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        };
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row mb-5">
                <div class="col-md-4 list-group">
                    <button class="btn btn-primary list-item" onclick="listLogs('abertura')">ABERTURAS</button>
                </div>
                <div class="col-md-4 list-group">
                    <button class="btn btn-primary list-item" onclick="listLogs('atualizacao')">ATUALIZAÇÕES</button>
                </div>
                <div class="col-md-4 list-group">
                    <button class="btn btn-primary list-item" onclick="listLogs('all')">TODOS</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h3>BAIXAR LOGS</h3>
            <h5>(A LISTA ABAIXO É ATUALIZADA A CADA 5 SEGUNDOS)</h5>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div id="logs">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table text-center" id='lista'></table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}