{% extends "base.html" %}

{% set title = "LOGS" %}
{% set subtitle = title %}

{% block scripts %}

    <script>
        // #TODO capturar variavel que vem do backend
        let filtro = 'all';
        setInterval(function(){ listLogs(filtro); }, 5000);
        window.onload = function() {
            listLogs(filtro, document.getElementById('btnAll'));
        };

        function listLogs(filter, element=''){
            filtro = filter;
            $.ajax({
                type: 'POST',
                url: '/listLogs/'+ filtro,
                success: function(response){
                    lista = document.getElementById('lista');
                    lista.innerHTML = '';
                    console.log(Object.values(response).length, response);
                    for (var x = Object.values(response).length-1; x >= 0; x--){
                        value = Object.values(response)[x];
                        key = Object.keys(response)[x];
                        trElement = document.createElement('tr'); //Cria TR
                        aElement = document.createElement('a'); //Cria TR
                        aElement.setAttribute("class", "log");
                        arquivoCaminho = value['PATH'] + '\\' + value['ARQUIVO']
                        dataLog = value['ARQUIVO'].split('__')[0].split('_')[2] + '/' + value['ARQUIVO'].split('__')[0].split('_')[1] + '/' + value['ARQUIVO'].split('__')[0].split('_')[0]
                        horaLog = value['ARQUIVO'].split('__')[1].replace('_',':').replace('_',':')
                        arquivo = value['ARQUIVO']
                        tipo = value['TIPO']
                        aElement.href = "{{ url_for('getLog', filePath='ADDSHARE1;ADDSHARE2') }}".replace("ADDSHARE2", arquivo).replace("ADDSHARE1", value['TIPO']);
                        tableElement = "td";
                        novoElemento = document.createElement(tableElement); // Cria th ou td
                        textnode = document.createTextNode(dataLog + ' ' + horaLog + ' - ' + arquivo.split('__')[2].replace('.csv', '').toUpperCase());
                        aElement.appendChild(textnode);
                        novoElemento.appendChild(aElement);
                        trElement.appendChild(novoElemento);
                        lista.appendChild(trElement);
                    };
                },
                error: function(error){
                    console.log(error);
                }
            });

            if (element){
                let elementos = document.getElementsByClassName("botaoFiltro");
                for (el of elementos) {
                    el.classList.remove('btn-warning')
                    el.classList.add('btn-primary')
                };

                if (filter = 'all'){
                    element.classList.add('btn-warning')
                };
            };
        };

        function getLog(){
            $.ajax({
                url: '/getLog',
                type: 'POST',
                success: function(response){
                    lista = document.getElementById('lista');
                    lista.innerHTML = '';
                    for (var [key, value] of Object.entries(response)) {
                        document.getElementById('tipo').innerHTML = value['tipo'].toUpperCase();
                        document.getElementById('arquivo').innerHTML = key;
                        sizeLog = parseInt(value['log'].length)-1 ;
                        document.getElementById('status').innerHTML = sizeLog;
                        for (var [key1, value1] of Object.entries(value['log'])) {

                            if (parseInt(key1) == 0){
                                tableElement = "th";
                            } else{
                                tableElement = "td";
                            };

                            dados = value1.split(';')
                            trElement = document.createElement('tr'); //Cria TR
                            for (i = 0; i < dados.length; i++) {
                                novoElemento = document.createElement(tableElement); // Cria th ou td
                                textnode = document.createTextNode(dados[i]);
                                novoElemento.appendChild(textnode);
                                trElement.appendChild(novoElemento); //add novoElemento ao TR
                                lista.appendChild(trElement);
                            }
                        }
                    }
                },
                error: function(error){
                    console.log(error);
                }
            });
        };
    </script>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row mb-5">
                <div class="col-md-4 list-group">
                    <button id="btnAbertura" class="btn btn-primary list-item botaoFiltro" onclick="listLogs('abertura', this)">ABERTURAS</button>
                </div>
                <div class="col-md-4 list-group">
                    <button id="btnAtualizacao" class="btn btn-primary list-item botaoFiltro" onclick="listLogs('atualizacao', this)">ATUALIZAÇÕES</button>
                </div>
                <div class="col-md-4 list-group">
                    <button id="btnAll" class="btn btn-primary list-item botaoFiltro" onclick="listLogs('all', this)">TODOS</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h3>BAIXAR LOGS</h3>
            <h5>(A LISTA ABAIXO É ATUALIZADA A CADA 5 SEGUNDOS)</h5>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div id="logs">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table text-center" id='lista'></table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}